fastapi
uvicorn[standard]
neo4j
python-dotenv
langchain-community
langchain-openai
langchain-core
langchain
langgraph
openai
jinja2
pymupdf
docx2txt
python-docx
pypandoc
pandas
python-multipart
supabase
python-jose[cryptography]
requests
numpy<2
pydantic
